{% extends 'ru/base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<section class="history">
    <div class="history__container container">
        <a href="{% url 'home' %}" class="history__return">
            <div class="history__return__icon"><img src="{% static 'images/profile/icon-return.svg' %}" alt="Arrow icon"></div>
            <div class="history__return__text text-main">Вернуться</div>
        </a>
        <div class="history__title title">История заказов</div>
        <div class="history__accordion">
            <div class="history__accordion__item">
                <div class="history__accordion__question">
                    <div class="history__accordion__question__btn">Повторить заказ</div>
                    <div class="history__accordion__question__text text-main">Заказ №3 от 22.02.2025</div>
                    <div class="history__accordion__question__icon">
                        <div class="history__accordion__question__line history-line1"></div>
                        <div class="history__accordion__question__line history-line2"></div>
                    </div>
                </div>
                <div class="history__accordion__panel">
                    <div class="history__accordion__panel__text text-medium-small">6 товаров на 95 000₸</div>
                    <div class="history__accordion__panel__cards">
                        <div class="history__accordion__panel__card">
                            <div class="history__accordion__panel__card__image-block">
                                <div class="history__accordion__panel__card__image"><img src="" alt=""></div>
                            </div>
                            <div class="history__accordion__panel__card__content">
                                <div class="history__accordion__panel__card__title">Sony FX3 body</div>
                                <div class="history__accordion__panel__card__price">15 000 х 1шт.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history__accordion__item">
                <div class="history__accordion__question">
                    <div class="history__accordion__question__btn text-semibold-small">Повторить заказ</div>
                    <div class="history__accordion__question__text text-main">Заказ №3 от 22.02.2025</div>
                    <div class="history__accordion__question__icon">
                        <div class="history__accordion__question__line history-line1"></div>
                        <div class="history__accordion__question__line history-line2"></div>
                    </div>
                </div>
                <div class="history__accordion__panel">
                    <div class="history__accordion__panel__text text-medium-small">6 товаров на 95 000₸</div>
                    <div class="history__accordion__panel__cards">
                        <div class="history__accordion__panel__card">
                            <div class="history__accordion__panel__card__image-block">
                                <div class="history__accordion__panel__card__image"><img src="" alt=""></div>
                            </div>
                            <div class="history__accordion__panel__card__content">
                                <div class="history__accordion__panel__card__title">Sony FX3 body</div>
                                <div class="history__accordion__panel__card__price">15 000 х 1шт.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}