.cart {
    margin: 80px 0px 135px;

    @media screen and (max-width: $md1) {
        margin: 60px 0 100px;
    }

    @media screen and (max-width: $md2) {
        margin: 40px 0 67.5px;
    }

    @media screen and (max-width: $md3) {
        margin: 60px 0 160px;
    }

    @media screen and (max-width: $md4) {
        margin: 12.5vw 0 33.125vw;
    }

    &__container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $md3) {
            flex-direction: column;
        }
    }

    &__title-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        @media screen and (max-width: $md1) {
            margin-bottom: 30px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 47px;
            gap: 136px;
            justify-content: start;
        }

        @media screen and (max-width: $md4) {
            margin-bottom: 10vw;
            gap: 28.125vw;
        }
    }

    &__return {
        width: 30px;

        @media screen and (max-width: $md4) {
            width: 6.25vw;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__flush {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        @media screen and (max-width: $md1) {
            gap: 7.5px;
        }

        @media screen and (max-width: $md2) {
            gap: 5px;
        }

        @media screen and (max-width: $md3) {
            display: none;
            gap: 9px;
        }

        @media screen and (max-width: $md4) {
            gap: 1.875vw;
        }

        &__mobile {
            margin-top: 70px;
            display: none;

            @media screen and (max-width: $md3) {
                display: flex;
                align-self: center;
            }

            @media screen and (max-width: $md4) {
                margin-top: 14.375vw;
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10px;

            @media screen and (max-width: $md1) {
                width: 7.5px;
            }

            @media screen and (max-width: $md2) {
                width: 5px;
            }

            @media screen and (max-width: $md3) {
                width: 19px;
            }

            @media screen and (max-width: $md4) {
                width: 4.063vw;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__text {
        margin-bottom: 23px;
        color: #929292;

        @media screen and (max-width: $md1) {
            margin-bottom: 16px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 11.5px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 34px;;
        }

        @media screen and (max-width: $md4) {
            margin-bottom: 7.188vw;
        }
    }

    &__card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        border-bottom: 1px solid #929292;
        width: 770px;

        @media screen and (max-width: $md1) {
            padding: 15px 0;
            width: 577px;
        }

        @media screen and (max-width: $md2) {
            padding: 10px 0;
            width: 385px;
        }

        @media screen and (max-width: $md3) {
            padding: 27px 0;
            width: 100%;
        }

        @media screen and (max-width: $md4) {
            padding: 5.625vw 0;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border: none;

            @media screen and (max-width: $md3) {
                padding-bottom: 27px;
                border-bottom: 1px solid #929292;
            }

            @media screen and (max-width: $md4) {
                padding-bottom: 5.625vw;
            }
        }

        &__column {
            display: flex;
            align-items: center;
            gap: 18px;

            @media screen and (max-width: $md1) {
                gap: 13.5px;
            }

            @media screen and (max-width: $md2) {
                gap: 9px;
            }

            @media screen and (max-width: $md3) {
                gap: 15px;

                &:last-child {
                    position: absolute;
                    right: 0;
                    bottom: 27px;
                }
            }

            @media screen and (max-width: $md4) {
                gap: 3.125vw;

                &:last-child {
                    bottom: 5.625vw;
                }
            }
        }

        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 122px;
            height: 93px;
            background-color: #F3F3F3;
            border-radius: 20px;

            @media screen and (max-width: $md1) {
                width: 91.5px;
                height: 70px;
                border-radius: 15px;
            }

            @media screen and (max-width: $md2) {
                width: 61px;
                height: 46.5px;
                border-radius: 10px;
            }

            @media screen and (max-width: $md3) {
                width: 148px;
                height: 113px;
                border-radius: 9px;
            }

            @media screen and (max-width: $md4) {
                width: 30.938vw;
                height: 23.438vw;
                border-radius: 1.875vw;
            }

            img {
                width: 80px;
                height: 50px;

                @media screen and (max-width: $md1) {
                    width: 60px;
                    height: 37.5px;
                }

                @media screen and (max-width: $md2) {
                    width: 40px;
                    height: 25px;
                }

                @media screen and (max-width: $md3) {
                    width: 98px;
                    height: 62px;
                }

                @media screen and (max-width: $md4) {
                    width: 20.313vw;
                    height: 12.813vw;
                }
            }
        }

        &__title {
            margin-bottom: 10px;
            line-height: 120%;

            @media screen and (max-width: $md1) {
                margin-bottom: 7.5px;
            }

            @media screen and (max-width: $md2) {
                margin-bottom: 5px;
            }

            @media screen and (max-width: $md3) {
                margin-bottom: 13px;
            }

            @media screen and (max-width: $md4) {
                margin-bottom: 2.813vw;
            }
        }

        &__text {
            color: #929292;
            margin-bottom: 38px;

            @media screen and (max-width: $md1) {
                margin-bottom: 28.5px;
            }

            @media screen and (max-width: $md2) {
                margin-bottom: 19px;
            }

            @media screen and (max-width: $md3) {
                margin-bottom: 48px;
            }

            @media screen and (max-width: $md4) {
                margin-bottom: 10vw;
            }
        }

        &__trash {
            width: 14px;
            cursor: pointer;

            @media screen and (max-width: $md1) {
                width: 10.5px;
            }

            @media screen and (max-width: $md2) {
                width: 7px;
            }

            @media screen and (max-width: $md3) {
                width: 20px;
            }

            @media screen and (max-width: $md4) {
                width: 4.375vw;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__quantity {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 57px;
            border: 2px solid #fff;
            border-radius: 12px;
            height: 51.2px;
            cursor: default;

            @media screen and (max-width: $md1) {
                padding: 0 43px;
                border-width: 1.5px;
                border-radius: 9px;
                height: 38.4px;
            }

            @media screen and (max-width: $md2) {
                padding: 0 28.5px;
                border-width: 1px;
                border-radius: 6px;
                height: 25.6px;
            }

            @media screen and (max-width: $md3) {
                padding: 0 27px;
                border-width: 1px;
                border-radius: 11px;
                height: 48px;
            }

            @media screen and (max-width: $md4) {
                padding: 0 5.625vw;
                border-radius: 2.5vw;
                height: 10vw;
            }

            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 96px;

                @media screen and (max-width: $md1) {
                    width: 72px;
                }

                @media screen and (max-width: $md2) {
                    width: 48px;
                }

                @media screen and (max-width: $md3) {
                    width: 101px;
                }

                @media screen and (max-width: $md4) {
                    width: 20.938vw;
                }
            }

            &__minus, &__plus {
                -webkit-user-selec: none;
                cursor: pointer;
            }

            .countOne {
                color: #929292;
                cursor: default;
            }
        }
    }

    &__buy {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 24px 21px;
        background-color: #fff;
        border-radius: 12px;

        @media screen and (max-width: $md1) {
            gap: 22px;
            padding: 18px 16px;
            border-radius: 9px;
        }

        @media screen and (max-width: $md2) {
            gap: 15px;
            padding: 12px 10.5px;
            border-radius: 6px;
        }

        @media screen and (max-width: $md3) {
            margin-top: 53px;
            padding: 0;
            gap: 40px;
            border-radius: 0;
            background-color: transparent;
            width: 100%;
        }

        @media screen and (max-width: $md4) {
            margin-top: 10.938vw;
            gap: 8.125vw;
        }

        &__block {
            display: flex;
            align-items: end;
            justify-content: space-between;
            color: $black;

            @media screen and (max-width: $md3) {
                gap: 26px;
                color: #fff;
                justify-content: end;
            }
        }

        &__price {
            font-size: 32px;
            font-weight: 600;
            line-height: 80%;

            @media screen and (max-width: $md1) {
                font-size: 24px;
            }

            @media screen and (max-width: $md2) {
                font-size: 16px;
            }

            @media screen and (max-width: $md3) {
                font-size: 32px;
            }

            @media screen and (max-width: $md4) {
                font-size: 6.563vw;
            }
        }

        &__btn {
            padding: 20px 40px;
            background-color: $orange;
            border-radius: 12px;

            &__mobile {
                display: none;

                @media screen and (max-width: $md3) {
                    display: flex !important;
                }
            }

            @media screen and (max-width: $md1) {
                padding: 15px 30px;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                padding: 10px 20px;
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                display: none;
                align-items: center;
                justify-content: center;
                padding: 25px 0;
                border-radius: 16px;
            }

            @media screen and (max-width: $md4) {
                padding: 5vw 0;
                border-radius: 3.125vw;
            }

            &:hover {
                background-color: $orgHover;
            }
        }
    }
}