.order {
    margin: 50px 0 135px;

    @media screen and (max-width: $md1) {
        margin: 37.5px 0 100px;
    }

    @media screen and (max-width: $md2) {
        margin: 25px 0 67.5px;
    }

    @media screen and (max-width: $md3) {
        margin: 60px 0 170px;
    }

    @media screen and (max-width: $md4) {
        margin: 40px 0 113px;
    }

    &__return {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 24px;

        @media screen and (max-width: $md1) {
            gap: 5px;
            margin-bottom: 18px;
        }

        @media screen and (max-width: $md2) {
            gap: 3.5px;
            margin-bottom: 12px;
        }

        @media screen and (max-width: $md3) {
            gap: 54.46px;
            margin-bottom: 52px;
        }

        @media screen and (max-width: $md4) {
            gap: 36.3px;
            margin-bottom: 24px;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 17px;

            @media screen and (max-width: $md1) {
                width: 13px;
            }

            @media screen and (max-width: $md2) {
                width: 8.5px;
            }

            @media screen and (max-width: $md3) {
                width: 30px;
                display: none;
            }

            @media screen and (max-width: $md4) {
                width: 20px;
            }

            img {
                width: 100%;
                height: auto;
            }

            &__mobile {
                display: none;

                @media screen and (max-width: $md3) {
                    display: flex;
                }
            }
        }

        &__text {
            color: #929292;

            @media screen and (max-width: $md3) {
                display: none;
            }

            &__mobile {
                display: none;

                @media screen and (max-width: $md3) {
                    display: block;
                    color: #fff;
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        gap: 420px;

        @media screen and (max-width: $md1) {
            gap: 315px;
        }

        @media screen and (max-width: $md2) {
            gap: 210px;
        }

        @media screen and (max-width: $md3) {
            gap: 0;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 60px;

        @media screen and (max-width: $md1) {
            gap: 45px;
        }

        @media screen and (max-width: $md2) {
            gap: 30px;
        }

        @media screen and (max-width: $md3) {
            gap: 0;
            width: 100%;
            
            &:last-child {
                display: none;
            }
        }
    }

    &__title {
        @media screen and (max-width: $md3) {
            display: none;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 278px;
        color: #fff;

        @media screen and (max-width: $md1) {
            gap: 18px;
            width: 208px;
        }

        @media screen and (max-width: $md2) {
            gap: 12px;
            width: 139px;
        }

        @media screen and (max-width: $md3) {
            gap: 32px;
            width: 100%;
        }

        @media screen and (max-width: $md4) {
            gap: 21px;
        }

        &__block {
            display: flex;
            flex-direction: column;
            gap: 15px;

            @media screen and (max-width: $md1) {
                gap: 11px;
            }

            @media screen and (max-width: $md2) {
                gap: 7.5px;
            }

            @media screen and (max-width: $md3) {
                gap: 20px;
            }

            @media screen and (max-width: $md4) {
                gap: 14px;
            }

            &__text {
                @media screen and (max-width: $md3) {
                    display: none;
                }

                &__mobile {
                    display: none;

                    @media screen and (max-width: $md3) {
                        display: block;
                    }
                }
            }

            &__wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 18px;

                @media screen and (max-width: $md1) {
                    gap: 13.5px;
                }

                @media screen and (max-width: $md2) {
                    gap: 9px;
                }

                @media screen and (max-width: $md3) {
                    gap: 6.6px;
                }

                @media screen and (max-width: $md4) {
                    gap: 4.4px;
                }
            }

            &__text-small {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #929292;
                text-align: center;
            }
        }

        &__input {
            margin: 0;
            padding: 15px 13px;
            width: calc(100% - 26px);
            background-color: transparent;
            border: 1px solid #929292;
            border-radius: 12px;
            color: #fff;

            @media screen and (max-width: $md1) {
                padding: 11px 10px;
                width: calc(100% - 20px);
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                padding: 7.5px 6.5px;
                width: calc(100% - 13px);
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                width: 100%;
                padding: 22px 17px;
                border-radius: 16px;
                box-sizing: border-box;
            }

            @media screen and (max-width: $md4) {
                padding: 14px 11px;
                border-radius: 10px;
            }

            &::placeholder {
                font-family: $ff;
                color: #929292;
            }
        }

        input[type="date"], input[type="time"], input[type="radio"], input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator, .input-type-date, .input-type-time {
            font-size: 12px;
            font-weight: 600;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            opacity: 0;
            cursor: pointer;

            @media screen and (max-width: $md1) {
                font-size: 9px;
            }

            @media screen and (max-width: $md2) {
                font-size: 6px;
            }

            @media screen and (max-width: $md3) {
                font-size: 15px;
            }

            @media screen and (max-width: $md4) {
                font-size: 10px;
            }
        }

        
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1); /* Example: Invert colors */
            opacity: 0.8;
            cursor: pointer;
        }

        &__delivery-label {
            position: relative;
            padding: 16px 13px;
            text-align: center;

            @media screen and (max-width: $md1) {
                padding: 12px 10px;
            }

            @media screen and (max-width: $md2) {
                padding: 8px 6.5px;
            }

            @media screen and (max-width: $md3) {
                padding: 22px 0;
            }

            @media screen and (max-width: $md4) {
                padding: 14px;
            }
        }

        &__datetime-label {
            position: relative;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 13px 0 13px 14px;
            border: 1px solid #929292;
            border-radius: 12px;

            @media screen and (max-width: $md1) {
                gap: 6px;
                padding: 10px 0 10px 10.5px;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                gap: 4px;
                padding: 6.5px 0 6.5px 7px;
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                gap: 30px;
                padding: 20px 0 20px 27px;
                border-radius: 16px;
            }

            @media screen and (max-width: $md4) {
                gap: 20px;
                padding: 13px 0 13px 18px;
                border-radius: 10px;
            }

            &:last-child {
                gap: 18px;

                @media screen and (max-width: $md1) {
                    gap: 13.5px;
                }

                @media screen and (max-width: $md2) {
                    gap: 9px;
                }

                @media screen and (max-width: $md3) {
                    gap: 45px;
                }

                @media screen and (max-width: $md4) {
                    gap: 30px;
                }
            }

            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;

                @media screen and (max-width: $md1) {
                    width: 11px;
                    height: 11px;
                }

                @media screen and (max-width: $md2) {
                    width: 7.5px;
                    height: 7.5px;
                }

                @media screen and (max-width: $md3) {
                    width: 16px;
                    height: 16px;
                }

                @media screen and (max-width: $md4) {
                    width: 11px;
                    height: 11px;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .form-delivery-active {
            border: 1px solid #929292;
            border-radius: 12px;

            @media screen and (max-width: $md1) {
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                border-radius: 16px;
            }

            @media screen and (max-width: $md4) {
                border-radius: 10px;
            }
        }

        &__btn {
            padding: 15px 0;
            background-color: $orange;
            border-radius: 12px;
            color: #fff;
            transition: all 0.4s ease;
            cursor: pointer;

            @media screen and (max-width: $md1) {
                padding: 11px 0;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                padding: 7.5px;
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                padding: 20px;
                border-radius: 16px;
                display: none;
            }

            @media screen and (max-width: $md4) {
                padding: 14px;
                border-radius: 10px;
            }
    
            &:hover {
                background-color: $orgHover;
            }

            &__mobile {
                display: none;

                @media screen and (max-width: $md3) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    &__cart {
        &__title-block {
            margin-top: 11px;
            display: flex;
            align-items: center;
            gap: 240px;

            @media screen and (max-width: $md1) {
                margin-top: 8px;
                gap: 180px;
            }

            @media screen and (max-width: $md2) {
                margin-top: 5.5px;
                gap: 120px;
            }
        }

        &__cards {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media screen and (max-width: $md1) {
                gap: 18px;
            }

            @media screen and (max-width: $md2) {
                gap: 12px;
            }
        }

        &__card {
            display: flex;
            align-items: stretch;
            gap: 13px;

            @media screen and (max-width: $md1) {
                gap: 10px;
            }

            @media screen and (max-width: $md2) {
                gap: 6.5px;
            }

            &__image {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #F3F3F3;
                border-radius: 10px;
                padding: 13px;
                width: 47px;
                height: 29px;

                @media screen and (max-width: $md1) {
                    border-radius: 7.5px;
                    padding: 10px;
                    width: 35px;
                    height: 22px;
                }

                @media screen and (max-width: $md2) {
                    border-radius: 5px;
                    padding: 6.5px;
                    width: 23.5px;
                    height: 15px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            &__price {
                color: #929292;
            }
        }
    }
}

.flatpickr-day.today {
    color: $orange !important;
    border-color: $orange !important;
}

.flatpickr-day {
    transition: background 0.25s ease;
}

.flatpickr-day:hover {
    background: $orgHover !important; /* Yellow hover effect */
    color: white !important;
}

.flatpickr-day.selected {
    background: $orange !important; /* Custom color */
    border-color: $orange !important;
    color: white !important;
}

.flatpickr-calendar {
    // background: #929292 !important; /* Light gray */
    // border-radius: 10px !important;
}

// .flatpickr-months .flatpickr-month {
//     background: $orange !important; /* Red header */
//     color: white !important;
//     border-radius: 5px !important;
// }

.flatpickr-monthDropdown-month {
    color: $black !important;
}

.flatpickr-prev-month, .flatpickr-next-month {
    fill: $black !important; /* Change arrow color */
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: $black !important;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: $black !important;
}

.numInput, .flatpickr-monthDropdown-months {
    color: $black !important;
}

.numInputWrapper span {
    border: none !important;
}

.numInputWrapper span:active, .numInputWrapper span:hover {
    background: transparent !important;
}

/* Change time input colors */
.flatpickr-time input {
    background: #fff !important;  /* Dark background */
    color: $black !important;       /* White text */
}

