.signup {
    &__title {
        color: $black;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        @media screen and (max-width: $md1) {
            gap: 18px;
        }

        @media screen and (max-width: $md2) {
            gap: 12px;
        }

        @media screen and (max-width: $md3) {
            gap: 24px;
            width: 100%;
        }

        @media screen and (max-width: $md4) {
            gap: 5vw;
        }

        input {
            margin: 0;
            padding-block: 0;
            padding-inline: 0;
        }

        &__input {
            width: calc(382px - 36px);
            padding: 10px 18px !important;
            border: 2px solid #929292;
            border-radius: 12px;

            @media screen and (max-width: $md1) {
                width: calc(286.5px - 27px);
                border-width: 1.5px;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                width: calc(191px - 18px);
                border-width: 1px;
                border-radius: 9px;
            }

            @media screen and (max-width: $md3) {
                width: 100%;
                border-width: 2px;
                border-radius: 12px;
                box-sizing: border-box;
            }

            @media screen and (max-width: $md4) {
                border-width: 0.406vw;
                border-radius: 2.5vw;
            }

            &__text {
                color: $black;
                // margin: 0 10px 0 0;
                background-color: transparent;
                border: none;
                outline: none;
                width: 18px;

                @media screen and (max-width: $md1) {
                    // margin: 0 7.5px 0 0;
                    width: 13.5px;
                }

                @media screen and (max-width: $md2) {
                    // margin: 0 5px 0 0;
                    width: 9px;
                }

                @media screen and (max-width: $md3) {
                    // margin: 0 10px 0 0;
                    width: 17px;
                }

                @media screen and (max-width: $md4) {
                    // margin: 0 2.188vw 0 0;
                    width: 3.5vw;
                }
            }

            &__label {
                display: flex;
                align-items: center;
                justify-content: stretch;
                box-sizing: border-box;
                width: 100%;
                padding: 10px 18px !important;
                border: 2px solid #929292;
                border-radius: 12px;
            }

            &::placeholder {
                font-family: $ff;
                font-size: 16px;
                font-weight: 500;
                line-height: 100%;
                color: #929292;

                @media screen and (max-width: $md1) {
                    font-size: 12px;
                }

                @media screen and (max-width: $md2) {
                    font-size: 8px;
                }

                @media screen and (max-width: $md3) {
                    font-size: 15px;
                }

                @media screen and (max-width: $md4) {
                    font-size: 3.125vw;
                }
            }
        }

        &__btn {
            color: #fff;
            width: 100%;
            padding: 20px 0px;
            background-color: $orange;
            border-radius: 12px;
            cursor: pointer;

            @media screen and (max-width: $md1) {
                padding: 15px 0;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                padding: 10px 0;
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                padding: 20px 0;
                border-radius: 12px;
            }

            @media screen and (max-width: $md4) {
                padding: 4.375vw 0;
                border-radius: 2.5vw;
            }
        }
    }
}

.signin {
    &__title {
        color: $black;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;

        @media screen and (max-width: $md1) {
            gap: 18px;
        }

        @media screen and (max-width: $md2) {
            gap: 12px;
        }

        @media screen and (max-width: $md3) {
            gap: 24px;
            width: 100%;
        }

        @media screen and (max-width: $md4) {
            gap: 5vw;
        }

        input {
            margin: 0;
            padding-block: 0;
            padding-inline: 0;
        }

        &__input {
            width: calc(382px - 36px);
            padding: 10px 18px !important;
            border: 2px solid #929292;
            border-radius: 12px;

            @media screen and (max-width: $md1) {
                width: calc(286.5px - 27px);
                border-width: 1.5px;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                width: calc(191px - 18px);
                border-width: 1px;
                border-radius: 9px;
            }

            @media screen and (max-width: $md3) {
                width: 100%;
                border-width: 2px;
                border-radius: 12px;
                box-sizing: border-box;
            }

            @media screen and (max-width: $md4) {
                border-width: 0.406vw;
                border-radius: 2.5vw;
            }

            &__text {
                color: $black;
                // margin: 0 10px 0 0;
                background-color: transparent;
                border: none;
                outline: none;
                width: 18px;
                
                @media screen and (max-width: $md1) {
                    // margin: 0 7.5px 0 0;
                    width: 13.5px;
                }

                @media screen and (max-width: $md2) {
                    // margin: 0 5px 0 0;
                    width: 9px;
                }

                @media screen and (max-width: $md3) {
                    // margin: 0 10px 0 0;
                    width: 17px;
                }

                @media screen and (max-width: $md4) {
                    // margin: 0 2.188vw 0 0;
                    width: 3.5vw;
                }
            }

            &__label {
                display: flex;
                align-items: center;
                justify-content: stretch;
                box-sizing: border-box;
                width: 100%;
                padding: 10px 18px !important;
                border: 2px solid #929292;
                border-radius: 12px;
            }

            &::placeholder {
                font-family: $ff;
                font-size: 16px;
                font-weight: 500;
                line-height: 100%;
                color: #929292;

                @media screen and (max-width: $md1) {
                    font-size: 12px;
                }

                @media screen and (max-width: $md2) {
                    font-size: 8px;
                }

                @media screen and (max-width: $md3) {
                    font-size: 15px;
                }

                @media screen and (max-width: $md4) {
                    font-size: 3.125vw;
                }
            }
        }

        &__btn {
            color: #fff;
            width: 100%;
            padding: 20px 0px;
            background-color: $orange;
            border-radius: 12px;
            cursor: pointer;

            @media screen and (max-width: $md1) {
                padding: 15px 0;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                padding: 10px 0;
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                padding: 20px 0;
                border-radius: 12px;
            }

            @media screen and (max-width: $md4) {
                padding: 4.375vw 0;
                border-radius: 2.5vw;
            }
        }
    }

    &__link {
        display: inline-flex;
        color: #929292;
        transition: all 0.4s ease;

        &:hover {
            color: #303030;
        }
    }
}

.forgot {
    &__title {
        color: $black;
        max-width: 400px;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        @media screen and (max-width: $md1) {
            gap: 18px;
        }

        @media screen and (max-width: $md2) {
            gap: 12px;
        }

        @media screen and (max-width: $md3) {
            gap: 30px;
        }

        @media screen and (max-width: $md4) {
            gap: 6.25vw;
        }

        input {
            margin: 0;
            padding-block: 0;
            padding-inline: 0;
        }

        &__input {
            // width: calc(382px - 36px);
            width: 100%;
            box-sizing: border-box;
            padding: 10px 18px !important;
            border: 2px solid #929292;
            border-radius: 12px;

            @media screen and (max-width: $md1) {
                // width: calc(286.5px - 27px);
                border-width: 1.5px;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                // width: calc(191px - 18px);
                border-width: 1px;
                border-radius: 9px;
            }

            @media screen and (max-width: $md3) {
                border-width: 2px;
                border-radius: 12px;
            }

            @media screen and (max-width: $md4) {
                border-width: 0.406vw;
                border-radius: 2.5vw;
            }

            &::placeholder {
                font-family: $ff;
                font-size: 16px;
                font-weight: 500;
                line-height: 100%;
                color: #929292;

                @media screen and (max-width: $md1) {
                    font-size: 12px;
                }

                @media screen and (max-width: $md2) {
                    font-size: 8px;
                }

                @media screen and (max-width: $md3) {
                    font-size: 15px;
                }

                @media screen and (max-width: $md4) {
                    font-size: 3.438vw;
                }
            }
        }

        &__btn {
            color: #fff;
            width: 100%;
            padding: 20px 0px;
            background-color: $orange;
            border-radius: 12px;
            cursor: pointer;

            @media screen and (max-width: $md1) {
                padding: 15px 0;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                padding: 10px 0;
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                padding: 20px 0;
                border-radius: 12px;
            }

            @media screen and (max-width: $md4) {
                padding: 4.375vw 0;
                border-radius: 2.5vw;
            }
        }
    }

    &__link {
        color: #929292;
        transition: all 0.4s ease;

        &:hover {
            color: #303030;
        }
    }
}

#signin-phone-input, #signup-phone-input, #edit-phone-input {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    flex: 1;
    width: auto;
    padding: 0 !important;
    margin: 0;
    border: none;
    outline: none;
    height: auto;
    border-radius: 0;
}


.profile {
    background-color: transparent !important;

    &__container {
        display: flex;
        align-items: baseline;
        justify-content: end;
        width: 100%;
        margin: 100px auto auto;

        @media screen and (max-width: $md1) {
            margin: 85px auto auto;
        }

        @media screen and (max-width: $md2) {
            margin: 70px auto auto;
        }
    }

    &__wrapper {
        position: relative;
        z-index: 3;
        right: -30px;
        padding: 35px 15px;
        border-radius: 12px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 28px;

        @media screen and (max-width: $md1) {
            right: -22px;
            padding: 26px 11px;
            border-radius: 9px;
            gap: 21px;
        }

        @media screen and (max-width: $md2) {
            right: -15px;
            padding: 17.5px 7.5px;
            bottom: 6px;
            gap: 14px;
        }
    }

    &__icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -8px;
        transform: translateX(50%);
        width: 23px;

        @media screen and (max-width: $md1) {
            top: -6px;
            width: 16px;
        }

        @media screen and (max-width: $md2) {
            top: -4px;
            width: 11.5px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 21px;

        @media screen and (max-width: $md1) {
            gap: 16px;
        }

        @media screen and (max-width: $md2) {
            gap: 10.5px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 16px 12px;
        border-radius: 12px;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);

        @media screen and (max-width: $md1) {
            gap: 11px;
            padding: 12px 9px;
            -webkit-box-shadow: 0px 0px 3px 1.5px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 3px 1.5px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 3px 1.5px rgba(0,0,0,0.1);
        }

        @media screen and (max-width: $md2) {
            gap: 7.5px;
            padding: 8px 6px;
            -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
        }

        &__icon {
            width: 20px;

            @media screen and (max-width: $md1) {
                width: 15px;
            }

            @media screen and (max-width: $md2) {
                width: 10px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__text {
            color: $black;
        }
    }

    &__btn {
        align-self: center;
        padding: 9px 28px;
        border-radius: 12px;
        background-color: $orange;
        color: #fff;
        text-align: center;
        transition: all 0.4s ease;

        @media screen and (max-width: $md1) {
            padding: 7px 21px;
            border-radius: 9px;
        }

        @media screen and (max-width: $md2) {
            padding: 4.5px 14px;
            border-radius: 6px;
        }

        &:hover {
            background-color: $orgHover;
        }
    }
}


.favpopup {
    position: fixed !important;

    &__wrapper {
        gap: 0 !important;
        background-color: #fff;
        padding: 75px 45px;
        border-radius: 20px;

        @media screen and (max-width: $md1) {
            padding: 56px 34px;
            border-radius: 15px;
        }

        @media screen and (max-width: $md2) {
            padding: 37.5px 22.5px;
            border-radius: 10px;
        }

        @media screen and (max-width: $md3) {
            padding: 30px 20px;
            border-radius: 16px;
        }

        @media screen and (max-width: $md4) {
            padding: 6.25vw 4.375vw;
            border-radius: 1.875vw;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        margin-bottom: 10px;

        @media screen and (max-width: $md1) {
            width: 30px;
            margin-bottom: 7.5px;
        }

        @media screen and (max-width: $md2) {
            width: 20px;
            margin-bottom: 5px;
        }

        @media screen and (max-width: $md3) {
            width: 30px;
            margin-bottom: 10px;
        }

        @media screen and (max-width: $md4) {
            width: 6.25vw;
            margin-bottom: 1.875vw;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        margin-bottom: 25px;
        color: $black;
        text-align: center;

        @media screen and (max-width: $md1) {
            margin-bottom: 19px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 12.5px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: $md4) {
            margin-bottom: 3.75vw;
        }
    }

    &__text {
        text-align: center;
        color: #929292;
        max-width: 280px;

        @media screen and (max-width: $md1) {
            max-width: 210px;
        }

        @media screen and (max-width: $md2) {
            max-width: 140px;
        }

        @media screen and (max-width: $md3) {
            max-width: 300px;
        }

        @media screen and (max-width: $md4) {
            max-width: 62.5vw;
        }
    }
}

.orderpopup {
    position: fixed !important;

    &__wrapper {
        gap: 0 !important;
        background-color: #fff;
        padding: 75px 45px !important;

        @media screen and (max-width: $md1) {
            padding: 56px 34px !important;
        }

        @media screen and (max-width: $md2) {
            padding: 37.5px 22.5px !important;
        }

        @media screen and (max-width: $md3) {
            padding: 30px 20px !important;
        }

        @media screen and (max-width: $md4) {
            padding: 6.25vw 4.375vw !important;
        }
    }

    &__title {
        margin-bottom: 15px;
        color: $black;
        text-align: center;

        @media screen and (max-width: $md1) {
            margin-bottom: 19px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 12.5px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: $md4) {
            margin-bottom: 3.75vw;
        }
    }

    &__text {
        text-align: center;
        color: #929292;
        max-width: 280px;

        @media screen and (max-width: $md1) {
            max-width: 210px;
        }

        @media screen and (max-width: $md2) {
            max-width: 140px;
        }

        @media screen and (max-width: $md3) {
            max-width: 250px;
        }

        @media screen and (max-width: $md4) {
            max-width: 62.5vw;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;
        width: 100%;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        border-radius: 12px;
        background-color: $orange;
        transition: all 0.5s ease;

        &:hover {
            background-color: $orgHover;
        }

        &:last-child {
            background-color: $black;

            &:hover {
                background-color: #3d3d3d;
            }
        }
    }
}


.catalog-mobile {
    position: fixed !important;
    align-items: start !important;
    justify-content: start !important;
    z-index: 97 !important;
    background-color: $black !important;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        padding-top: 24px;

        @media screen and (max-width: $md4) {
            gap: 4.063vw;
            padding-top: 5vw;
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    &__logo {
        align-self: center;
        width: 122px;
        height: 49px;

        img {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: $md4) {
            width: 25.625vw;
            height: 10vw;
        }
    }

    &__searchbar {
        position: relative;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        @media screen and (max-width: $md3) {
            padding-left: 24px;
            width: 100%;
            border-radius: 13px;
            gap: 12px;
        }

        @media screen and (max-width: $md4) {
            padding-left: 5vw;
            border-radius: 2.5vw;
            gap: 2.5vw;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: $md3) {
                width: 20px;
            }

            @media screen and (max-width: $md4) {
                width: 4.375vw;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        input {
            color: #fff;
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;
            width: 100%;

            @media screen and (max-width: $md3) {
                height: 53px;
            }

            @media screen and (max-width: $md4) {
                height: 11.25vw;
            }

            &:focus-visible {
                outline: none;
            }

            &::-webkit-input-placeholder {
                font-weight: 500;
                color: #4A4A4A;

                @media screen and (max-width: $md3) {
                    font-size: 15px;
                }

                @media screen and (max-width: $md4) {
                    font-size: 3.125vw;
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 450px;
        max-height: calc(100vh - 115px - 49px - 24px - 20px);
        overflow-y: scroll;
        &::-webkit-scrollbar {display: none;}

        @media screen and (max-width: $md4) {
            width: 93.75vw;
            max-height: calc(100vh - 16.113vw - 6.25vw - 4.5vw - 10vw - 4.063vw - 5vw);
            // max-height: 89.375vw;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 22px 21px;
        border-top: 1px solid #929292;
        border-bottom: 1px solid #929292;

        @media screen and (max-width: $md4) {
            gap: 6.25vw;
            padding: 4.375vw;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 27px;

            @media screen and (max-width: $md4) {
                width: 5.625vw;
            }

            // img {
            //     width: 100%;
            //     height: auto;
            // }
        }

        &__text {
            font-size: 19px;

            @media screen and (max-width: $md4) {
                font-size: 3.75vw;
            }
        }
    }
}

.profile-mobile {
    position: fixed !important;
    align-items: start !important;
    justify-content: start !important;
    z-index: 97 !important;
    // top: 130px !important;
    background-color: $black !important;

    // @media screen and (max-width: $md4) {
    //     top: 16vw !important;
    // }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-top: 42px;

        @media screen and (max-width: $md4) {
            gap: 10vw;
            padding-top: 8.75vw;
        }
    }

    &__logo {
        align-self: center;
        width: 122px;
        height: 49px;

        img {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: $md4) {
            width: 25.625vw;
            height: 10vw;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        gap: 136px;

        @media screen and (max-width: $md4) {
            gap: 28.125vw;
        }
    }

    &__return {
        position: static !important;
        width: 30px !important;
        height: auto !important;

        @media screen and (max-width: $md4) {
            width: 6.25vw;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        align-self: center;
        justify-self: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 450px;

        @media screen and (max-width: $md4) {
            gap: 4.375vw;
            width: 93.75vw;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        gap: 27px;
        padding: 21px 51px;
        background-color: #fff;
        border-radius: 16px;

        @media screen and (max-width: $md4) {
            gap: 5.625vw;
            padding: 4.375vw 10.625vw;
            border-radius: 3.125vw;
        }

        &__icon {
            width: 27px;

            @media screen and (max-width: $md4) {
                gap: 5.625vw;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__text {
            color: $black;
        }

        &__anon {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $black;
        }

        &__signin {
            color: #fff;
            background-color: $orange;
            transition: all 0.4s ease;

            &:hover {
                background-color: $orgHover;
            }
        }
    }

    &__btn {
        left: 50%;
        bottom: 135px;
        transform: translateX(-50%);
        background-color: $orange;
        padding: 21px 90px;
        border-radius: 16px;

        @media screen and (max-width: $md4) {
            bottom: 28.125vw;
            padding: 4.375vw 18.75vw;
            border-radius: 3.125vw;
        }
    }
}




.banner-popup {
    &__wrapper {
        width: 470px;
        padding: 42px 15px;
        box-sizing: border-box;

        @media screen and (max-width: $md1) {
            width: 350px;
            padding: 30px 12px;
        }

        @media screen and (max-width: $md2) {
            width: 280px;
            padding: 21px 8px;
        }

        @media screen and (max-width: $md3) {
            width: 400px;
            padding: 36px 14px;
        }

        @media screen and (max-width: $md4) {
            width: 84.375vw;
            padding: 7.5vw 2.813vw;
        }
    }

    &__height {
        max-height: 400px;
        overflow: auto;

        @media screen and (max-width: $md1) {
            max-height: 300px;
        }

        @media screen and (max-width: $md2) {
            max-height: 240px;
        }

        @media screen and (max-width: $md3) {
            max-height: 350px;
        }

        @media screen and (max-width: $md4) {
            max-height: 73.125vw;
        }

        &::-webkit-scrollbar {
            width: 9px;

            @media screen and (max-width: $md1) {
                width: 6.75px;
            }

            @media screen and (max-width: $md2) {
                width: 4.5px;
            }

            @media screen and (max-width: $md3) {
                width: 6px;
            }

            @media screen and (max-width: $md4) {
                width: 1.25vw;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: #4a4a4a;
            border-radius: 10px;

            @media screen and (max-width: $md1) {
                border-radius: 7.5px;
            }

            @media screen and (max-width: $md2) {
                border-radius: 5px;
            }

            @media screen and (max-width: $md3) {
                border-radius: 8px;
            }

            @media screen and (max-width: $md4) {
                border-radius: 1.563vw;
            }

            &:hover {
                background-color: #636363;
            }
        }
    }

    &__image {
        box-sizing: border-box;
        width: 422px;
        height: 176px;
        margin-bottom: 30px;

        @media screen and (max-width: $md1) {
            width: 316px;
            height: 132px;
            margin-bottom: 25px;
        }

        @media screen and (max-width: $md2) {
            width: 240px;
            height: 100px;
            margin-bottom: 20px;
        }

        @media screen and (max-width: $md3) {
            width: 100%;
            height: auto;
            // height: 153px;
        }

        @media screen and (max-width: $md4) {
            // height: 32.188vw;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;

            @media screen and (max-width: $md1) {
                border-radius: 10px;
            }

            @media screen and (max-width: $md2) {
                border-radius: 8px;
            }

            @media screen and (max-width: $md3) {
                border-radius: 12px;
                height: 210px;
                object-position: 60%;;
            }

            @media screen and (max-width: $md4) {
                height: 43.75vw;
                border-radius: 2.5vw;
            }
        }
    }

    &__title {
        max-width: 95%;
        color: $black;
        margin-bottom: 16px;

        @media screen and (max-width: $md1) {
            margin-bottom: 10px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 8px;
        }

        @media screen and (max-width: $md3) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: $md4) {
            margin-bottom: 3.125vw;
        }
    }

    &__text {
        max-width: 95%;
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 500;

        @media screen and (max-width: $md1) {
            font-size: 13.5px;
        }

        @media screen and (max-width: $md2) {
            font-size: 9px;
        }

        @media screen and (max-width: $md3) {
            font-size: 16px;
        }

        @media screen and (max-width: $md4) {
            font-size: 3.75vw;
        }
    }
}


.popup {
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: rgba(28, 28, 28, 0.7);

    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease;

    &-background {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;
        background-color: #fff;
        padding: 40px 35px;
        border-radius: 20px;
        height: auto;

        @media screen and (max-width: $md1) {
            gap: 24px;
            padding: 30px 26px;
            border-radius: 15px;
        }

        @media screen and (max-width: $md2) {
            gap: 16px;
            padding: 20px 17.5px;
            border-radius: 10px;
        }

        @media screen and (max-width: $md3) {
            gap: 30px;
            padding: 46px 34px;
            border-radius: 20px;
            width: 450px;
            box-sizing: border-box;
        }

        @media screen and (max-width: $md4) {
            gap: 6.25vw;
            padding: 9.375vw 6.875vw;
            width: 93.75vw;
        }
    }

    &-close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        height: 10px;
        cursor: pointer;

        @media screen and (max-width: $md1) {
            top: 15px;
            right: 15px;
            width: 7.5px;
            height: 7.5px;
        }

        @media screen and (max-width: $md2) {
            top: 10px;
            right: 10px;
            width: 5px;
            height: 5px;
        }

        @media screen and (max-width: $md3) {
            top: 16px;
            right: 16px;
            width: 10px;
            height: 10px;
        }

        @media screen and (max-width: $md4) {
            top: 3.438vw;
            right: 3.438vw;
            width: 2.188vw;
            height: 2.188vw;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.popup-active {
    opacity: 1;
    overflow: visible;
    height: 100dvh;
    z-index: 100;

    .profile-mobile__btn {
        position: fixed;
    }
}

// .popup {
//     z-index: -2;
// }

.lock {
    overflow: hidden;
    overflow-y: hidden;
}


.temporary {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    height: 0;
    overflow: hidden;
    animation: popupFadeOut 4s;
    
    @keyframes popupFadeOut {
        40% {
            opacity: 1;
            height: auto;
            overflow: visible;
        }

        70% {
            opacity: 1;
        }

        99% {
            height: auto;
            overflow: visible;
        }

        100% {
            opacity: 0;
            height: 0;
            overflow: hidden;
        }
    }
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 75px 45px;
        border-radius: 20px;

        @media screen and (max-width: $md1) {
            padding: 56px 34px;
            border-radius: 15px;
        }

        @media screen and (max-width: $md2) {
            padding: 37.5px 22.5px;
            border-radius: 10px;
        }

        @media screen and (max-width: $md3) {
            padding: 28px 20px;
            border-radius: 16px;
        }

        @media screen and (max-width: $md4) {
            padding: 6.25vw 5vw;
            border-radius: 3.75vw;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        margin-bottom: 10px;

        @media screen and (max-width: $md1) {
            width: 31.5px;
            margin-bottom: 7.5px;
        }

        @media screen and (max-width: $md2) {
            width: 21px;
            margin-bottom: 5px;
        }
        
        @media screen and (max-width: $md3) {
            width: 35px;
            margin-bottom: 10px;
        }

        @media screen and (max-width: $md4) {
            width: 7.5vw;
            margin-bottom: 2.5vw;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__message {
        text-align: center;
        color: $black;

        &-subtext {
            color: #929292;
            text-align: center;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            margin-top: 25px;
            max-width: 360px;

            @media screen and (max-width: $md1) {
                margin-top: 19px;
                max-width: 270px;
            }

            @media screen and (max-width: $md2) {
                margin-top: 12.5px;
                max-width: 180px;
            }

            @media screen and (max-width: $md3) {
                width: 330px;
                max-width: unset;
            }

            @media screen and (max-width: $md4) {
                width: 68.75vw;
            }
        }
    }
}


.error {
    display: flex;
    flex-direction: column;
    gap: 13px;
    max-width: calc(382px - 36px);

    @media screen and (max-width: $md1) {
        gap: 10px;
        max-width: calc(286.5px - 27px);
    }

    @media screen and (max-width: $md2) {
        gap: 6.5px;
        max-width: calc(191px - 18px);
    }

    @media screen and (max-width: $md3) {
        gap: 10px;
        max-width: 100%;
        box-sizing: border-box;
    }

    @media screen and (max-width: $md4) {
        gap: 1.875vw;
    }

    &__message {
        color: #DA4949;
    }
}