.edit {
    margin: 48px 0 135px;

    @media screen and (max-width: $md1) {
        margin: 36px 0 100px;
    }

    @media screen and (max-width: $md2) {
        margin: 24px 0 67.5px;
    }

    @media screen and (max-width: $md3) {
        margin: 60px 0 170px;
    }

    @media screen and (max-width: $md4) {
        margin: 12.5vw 0 35.313vw;
    }

    &__return {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 24px;

        @media screen and (max-width: $md1) {
            gap: 5px;
            margin-bottom: 18px;
        }

        @media screen and (max-width: $md2) {
            gap: 3.5px;
            margin-bottom: 12px;
        }

        @media screen and (max-width: $md3) {
            gap: 17px;
            margin-bottom: 52px;
        }

        @media screen and (max-width: $md4) {
            gap: 3.438vw;
            margin-bottom: 10.938vw;
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 17px;
            height: 7.5px;

            @media screen and (max-width: $md1) {
                width: 13px;
                height: 5.5px;
            }

            @media screen and (max-width: $md2) {
                width: 8.5px;
                height: 3.75px;
            }

            @media screen and (max-width: $md3) {
                width: 30px;
                display: none;
            }

            @media screen and (max-width: $md4) {
                width: 6.25vw;
            }

            &__mobile {
                display: none;

                @media screen and (max-width: $md3) {
                    display: flex;
                }
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__text {
            color: #929292;

            @media screen and (max-width: $md3) {
                display: none;
            }

            &__mobile {
                color: #fff;
                display: none;

                @media screen and (max-width: $md3) {
                    display: block;
                }
            }
        }
    }

    &__title {
        margin-bottom: 52px;

        @media screen and (max-width: $md1) {
            margin-bottom: 39px;
        }

        @media screen and (max-width: $md2) {
            margin-bottom: 26px;
        }

        @media screen and (max-width: $md3) {
            display: none;
        }
    }

    &__block {
        display: flex;
        gap: 380px;

        @media screen and (max-width: $md1) {
            gap: 285px;
        }

        @media screen and (max-width: $md2) {
            gap: 190px;
        }

        @media screen and (max-width: $md3) {
            flex-direction: column;
            gap: 80px;
        }

        @media screen and (max-width: $md4) {
            gap: 16.875vw;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 36px;

        @media screen and (max-width: $md1) {
            gap: 27px;
        }

        @media screen and (max-width: $md2) {
            gap: 18px;
        }

        @media screen and (max-width: $md3) {
            gap: 20px;
        }

        @media screen and (max-width: $md4) {
            gap: 4.375vw;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (max-width: $md1) {
            gap: 18px;
        }

        @media screen and (max-width: $md2) {
            gap: 12px;
        }

        @media screen and (max-width: $md3) {
            gap: 32px;
        }

        @media screen and (max-width: $md4) {
            gap: 6.563vw;
        }

        &__input {
            margin: 0;
            background-color: transparent;
            padding: 15px 13px;
            border: 1px solid #929292;
            border-radius: 12px;
            width: calc(278px - 26px);
            color: #fff;

            @media screen and (max-width: $md1) {
                padding: 11px 10px;
                border-radius: 9px;
                width: calc(208.5px - 20px);
            }

            @media screen and (max-width: $md2) {
                padding: 7.5px 6.5px;
                border-radius: 6px;
                width: calc(138px - 13px);
            }

            @media screen and (max-width: $md3) {
                padding: 21px 17px;
                border-radius: 16px;
                width: 100%;
                box-sizing: border-box;
            }

            @media screen and (max-width: $md4) {
                padding: 4.375vw 3.438vw;
                border-radius: 3.438vw;
            }

            // &__text {
            //     margin: 0 10px;

            //     @media screen and (max-width: $md1) {
            //         margin: 0 7.5px;
            //     }

            //     @media screen and (max-width: $md2) {
            //         margin: 0 5px;
            //     }
            // }

            // &__block {
            //     display: flex;
            //     align-items: center;
            // }

            &::placeholder {
                font-family: $ff;
                font-size: 16px;
                font-weight: 600;
                color: #929292;

                @media screen and (max-width: $md1) {
                    font-size: 12px;
                }

                @media screen and (max-width: $md2) {
                    font-size: 8px;
                }

                @media screen and (max-width: $md3) {
                    font-size: 15px;
                }

                @media screen and (max-width: $md4) {
                    font-size: 3.125vw;
                }
            }
        }

        &__btn {
            padding: 15px 0px;
            background-color: $orange;
            border-radius: 12px;
            color: #fff;
            width: 100%;
            cursor: pointer;
            transition: all 0.4s ease;

            @media screen and (max-width: $md1) {
                padding: 11px 0;
                border-radius: 9px;
            }

            @media screen and (max-width: $md2) {
                padding: 7.5px;
                border-radius: 6px;
            }

            @media screen and (max-width: $md3) {
                padding: 20px;
                border-radius: 16px;
            }

            @media screen and (max-width: $md4) {
                padding: 4.375vw;
                border-radius: 3.75vw;
            }

            &:hover {
                background-color: $orgHover;
            }
        }
    }

    &__error {
        display: flex;
        flex-direction: column;
        gap: 13px;
        max-width: calc(278px - 26px);

        @media screen and (max-width: $md1) {
            gap: 10px;
            max-width: calc(208.5px - 20px);
        }

        @media screen and (max-width: $md2) {
            gap: 6.5px;
            max-width: calc(138px - 13px);
        }

        @media screen and (max-width: $md3) {
            gap: 10px;
            max-width: 100%;
            box-sizing: border-box;
        }

        @media screen and (max-width: $md4) {
            gap: 2.188vw;
        }

        &__message {
            color: #DA4949;
        }
    }
}


.history {
    margin: 50px 0 135px;

    &__return {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 24px;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 17px;
            height: 7.5px;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__text {
            color: #929292;
        }
    }

    &__title {
        margin-bottom: 52px;
    }

    &__accordion {
        display: flex;
        flex-direction: column;

        &__item {
            padding-bottom: 24px;

            &:last-child {
                padding-bottom: 0;
            }
            
            & + & {
                padding-top: 24px;
                border-top: 1px solid #fff;
            }
        }

        &__question {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 26px;
            width: calc(720px - 26px);

            &__icon {
                position: relative;
            }

            &__line {
                border-radius: 100px;
                background-color: #fff;
            }

            .history-line1 {
                position: absolute;
                top: 50%;
                left: -19px;
                transform: translate(50%, -50%);
                // transform: translateX(50%);
                // transform: translateY(-50%);
                height: 2px;
                width: 20px;
            }

            .history-line2 {
                width: 2px;
                height: 20px;
                transition: 0.75s ease;
            }

            .accordion-icon-active {
                transform: rotate(-90deg);
            }

            &__btn {
                display: none;
                padding: 10px 12px;
                background-color: $orange;
                border-radius: 12px;
                color: #fff;
            }
        }

        &__panel {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 29px;
            
            &__text {
                color: #929292;
            }

            &__cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 24px 40px;
                max-width: 100%;

                &__card {
                    display: flex;
                    align-items: center;
                    gap: 13px;

                    &__image-block {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #F3F3F3;
                        border-radius: 10px;
                        width: 72px;
                        height: 55px;
                    }

                    &__image {
                        width: 47px;
                        height: 30px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &__content {
                        display: flex;
                        flex-direction: column;
                        gap: 29px;
                    }

                    &__price {
                        color: #929292;
                    }
                }
            }
        }
    }
}